html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#main, #configurar, #imprimir {
  min-height: 100vh;
}

#configurar, #imprimir {
  box-sizing: border-box;
  padding: 50px 0;
}

#logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  pointer-events: none;
  user-select: none;
}